.hidden   { display: none; }
.unhidden { display: block; }

img {
    border: 0;
}
 
#header img {
    display: block;
}

#content {
    width: 1280px;
}

/* Navigation styles */
#navbar {
    width: 155px;
    float: left;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
}

/* First level navigation */
#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
#navbar ul li,
#navbar ul#servicelink li,
#navbar ul.servicelink li {
    margin: 0;
    font: 11px Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 105%;
}
 
/* Second level navigation */
#navbar ul ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
 
#navbar ul ul li,
#navbar ul#servicelink ul li,
#navbar ul.servicelink ul li {
    margin-top: 0;
    list-style: none;
    margin-left: 14px;
    padding-left: 0;
    font: 11px Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
    text-transform: none;
    line-height: 100%;
}
 
/* Third level navigation */
#navbar ul ul ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
 
#navbar ul ul ul li {
    list-style: none;
    margin-left: 28px;
    padding-left: 0;
    font: 11px Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
    text-transform: none;
    line-height: 100%;
}
 
ul#servicelink,
#navbar ul.servicelink {
    margin-top: 20px;
    border-top: 1px solid #aaa;
    padding-top: 10px;
}

/* Main Body */
#main {
    float: right;
    width: 1100px;
    padding: 0px;
    padding-top: 6px;
}

address {
    font-size: 12px;
    font-style: normal;
}
